<div> <!-- 已经选择的图片 -->
  <span>{{title}}</span>
  <md-icon [svgIcon]="selected" class="avatar" *ngIf="useSvgIcon else imgSelect"></md-icon> <!-- class选中的时候会大一些 -->
    <ng-template #imgSelect>
      <img [src]="selected" alt="image selected" class="cover">
    </ng-template>
</div>


<div class="scroll-container"><!-- 支持滚动 -->
  <md-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <md-grid-tile *ngFor="let item of items;let i = index"> <!-- 支持clospan rowspan属性 -->
      <div class="image-container" (click)="onChange(i)"> <!-- 这个div结合这个class做出图片的鼠标hover效果 -->
        <md-icon [svgIcon]="item" class="avatar" *ngIf="useSvgIcon else imgItem"></md-icon>
        <ng-template #imgItem>
          <img [src]="item" alt="image selected" [ngStyle]="{'width':itemWidth}">
        </ng-template>
      
      <div class="after">
        <div class="zoom">
          <md-icon>checked</md-icon>
        </div>
      </div>
    </div>
    </md-grid-tile>
  </md-grid-list>
</div>