.card{
    height: auto;
    flex: 0 0 210px;
    margin: 10px;
    display: flex;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
    
}

.fab-button{
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}